@tailwind base;
@tailwind components;
@tailwind utilities;


.m-icon-round {
  font-family: "Material Symbols Rounded", "MaterialSymbolsRounded";
  font-weight: 100;
  font-size: 28;
}

.m-icon-outline {
  font-family: "Material Symbols Outlined", "MaterialSymbolsOutlined";
  font-weight: 100;
  font-size: 28;
}

Page{
  background-color: white;
}

.box-shadow {
  box-shadow: 0px px 8px 0px rgba(189, 189, 189, 0.75);
}


.text-gray {
  color: #626262;
}

Label,
.text-black {
  color: #030202;
}

.bg-gray {
  background-color: #f3f3f3;
}

TextField, Label{
  font-family: "Uber Move", "UberMoveMedium"; font-weight: 500; 
}
.light{
  font-family: "Uber Move", "UberMove-Light"; font-weight: 300; 
}
.bold{
  font-family: "Uber Move", "UberMoveBold"; font-weight: 700; 
}